
:root {
    --tiffany: rgba(73, 218, 226, 1);
    --navy: rgb(203, 233, 32);
}

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    position: relative;
    background-color: var(--navy);
    display: flex;
    flex-direction: row;
    font-size: 20px;
    /* text-decoration: none; this didn't remove hyperlink! */
}

header h1 {
    background-color: var(--tiffany);
    color: var(--navy);
    padding: 5px 50px;
    /* text-align: end; this didn't align text to right */
}

header nav {
    display: flex;
    flex-direction: row;
    margin-left: 700px;
    padding: 30px ;
    /* float: right; */
    /* text-align: right; Had to use margin to push to right corner as both function didn't work */
}

nav a {
    padding: 10px;
}

.subheading {
    position: relative;
    }

.subtitle {
    position: absolute;
    right: 10px;
    bottom: 8px;
}

#subheader {
    width:100%;
    height:100%;
}

.content {
    display: flex;
    flex-direction: row;
    
}

div ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    text-decoration: none;
}

div ul li {
    padding: 20px;
} 

.flex-end {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


.content-header {
    text-align: right;
}

/* this makes no difference to the position of Aboutme/work/contactme
section > h1 {
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
} */

/* .topic {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
} */

img {
    width: 50px;
    height: 30px%;
}

/* @media screen and (max-width: 992px) {
    header{
        display: 
    }
} */


