
:root {
    --tiffany: rgba(73, 218, 226, 1);
    --navy: rgb(6, 27, 104);
}

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: papayawhip;
}

header {
    position: relative;
    background-color: var(--navy);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

header h1 {
    position: relative;
    background-color: var(--tiffany);
    color: var(--navy);
    font-size: 30px;
    padding: 5px 10px 5px 40px;
   }

header nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 25px ;
    font-size: 30px;
}

nav a {
    padding: 10px;
    text-decoration: none;
    color: var(--tiffany);
}

.subheader {
    position: relative;
    }

.subtitle {
    position: absolute;
    right: 50px;
    bottom: 8px;
    color: var(--navy);
    background-color: var(--tiffany);
    padding: 10px;
}

#subheader-pic {
    width:100%;
    height:170px;
}

div ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    text-decoration: none;
}

div ul li {
    padding: 20px;
} 

.content {
    display: flex;
    flex-direction: row;
    margin: 100px;
}

.content-header {
    margin: 50px;
    border: 5px;
    border-right-color:black;
    border-right-style: solid;
    padding: 50px;
    font-size: 48px;
}

.intro {
    font-size: 28px;
    }

.left {
    width: 25%;
    display: flex;
    justify-content: flex-end;
    }

.right {
    width: 75%;

}

#mainwork {
    width: 860px;
    height: 300px;

}

#mainwork:hover {
    opacity: 0.8;
}

.otherwork:hover {
    opacity: 0.8;
}

section img {
    width: 400px;
    height: 200px;
    border: 10px;
    margin: 20px;
    border-style: solid;
    border-color: var(--tiffany);
}

.contact {
    display: flex;
    padding-top: 70px;
    font-size: 28px;

}

@media screen and (max-width: 1450px) {
    header {
        display: flex;
        flex-direction: column;
        max-width: 1200px;
        }
    .subheader {
        max-width: 1200px;
    }
    main {
        max-width: 1200px;


    }
    
    nav a {
        display: block;
    }
}


